@font-face {
    font-family: pukar;
    src: url(./Gilroy-Regular.ttf);
}

@font-face {
    font-family: china;
    src: url(./3856NeueMachina.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pukar;
}
body{
    overflow-x: hidden;
}
html,
body {
    height: 100%;
    width: 100%;
}

section {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px;

}

nav h1 {
    font-size: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav h1 i {
    rotate: 45deg;
    display: inline-block;
}

nav h4 {
    font-size: 20px;
    font-weight: 500;
}

.part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.part2 button {
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #000;
}

.center {
    height: 65%;
    padding: 60px 100px;
    width: 100%;
    display: flex;
}

.center .center-part1 {
    height: 100%;
    width: 40%;
}

.center .center-part1 h1 {
    font-size: 50px;
    line-height: 1.2;
    font-family: china;
}

.center .center-part1 p {
    font-size: 20px;
    margin: 20px 0;

}

.center .center-part1 button {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 16px;
    border: none;
}

.center .center-part2 {
    height: 100%;
    width: 60%;
    position: relative;
}

.center .center-part2 img {
    width: 65%;
    top: -9%;
    position: absolute;
    right: 10%;
}

.section1bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 120px;
}

.section1bottom img {
    height: 45px;
}

.section2 .services {
    padding: 40px 120px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
}

.section2 .services h3 {
    font-family: china;
    background-color: #B9FF66;
    font-weight: 500;
    font-size: 40px;
    padding: 5px 10px 3px 10px;

}
.section2{
    margin-bottom: 50vh;
}
.section2 .services {
    width: 80%;
    font-size: 20px;

}

.cointainer {
    height: 80%;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.elem {
    padding: 60px;
    flex-shrink: 0;
    height: 300px;
    width: 48%;
    border: 3px solid #000;
    border-radius: 50px;
    box-shadow: 0px 20px 0px #333;
    display: flex;
}

.elem-part1 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.elem-part2 {
    height: 100%;
    width: 50%;
}

.elem-part2 img {
    height: 100%;
}

.elem-part1 h2 {
    padding: 0 5px;
    border-radius: 10px;
    width: fit-content;
    font-size: 25px;
    font-weight: 500;
    font-family: china;
    background-color: #B9FF66;
}

.elem-part1 h4 {
    gap: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.elem-part1 h4 i {
    font-weight: 900;
    font-size: 30px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
}
.black{
    background-color: #000;
    color: #fff;
}
.black .elem-part1 h4  i{
    background-color: #fff;
    color: #000;
}
.black .elem-part1 h2{
    background-color: #fff;
    color: #000;
}
.section3{
    height: 20vh;
}